/* 
Elemente, die das Hidden Attribut besitzen, verwenden 
als display-Property den Wert none. Diese Einstellung lässt sich
nicht überschreiben
*/
[hidden] {
    display: none !important;
}

/* Diese Regel gilt für alle form-Elemente */
form {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    max-width: 50vw;
    padding: 10px;
}

/* Diese Regel gilt für alle p Elemente innerhalb eines form Elements */
form p {
    margin: 0;
}
