<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

        <form action="/login" method="POST">
            <input type="username" name="username" placeholder="Username" style="width:350px"><br><br>
            <input type="password" name="password" placeholder="Password" style="width:350px"><br><br>
            <input type="submit" value="Login" style="margin-left:150px" >
        </form>

        <form action="/register" method="POST"><br>
            <input type="submit" value="Create an Account" style="margin-left:115px" >
        </form>









</body>
</html>