<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>




    <form action="/register" method="POST">
            <input type="username" name="username" placeholder="Username" style="width:350px"><br><br>
            <input type="password" name="password" placeholder="Password" style="width:350px"><br><br>
          <!--<input type="email" name="email" placeholder="example@email.com" style="width:350px"><br><br> -->
            <input type="submit" value="Register" style="margin-left:150px" >
    </form>

    <br> <br> <br>
    <form action="/public" method="POST">
            <input type="submit" value="Dashboard>>" style="margin-left:260px">
    </form>

    <!--
    <br>
    <form action="/" method="POST">
            <input type="submit" value="login page >>" style="margin-left:260px">
    </form>
    -->



</body>
</html>